<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="Replace" errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File"/>
        </httpErrors>
        <defaultDocument>
            <files>
                <clear/>
                <add value="index.html" />
                <add value="index.xml" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear/>
                <!-- Need to setup this in the DNS. -->
                <rule name="Redirect to WWW" stopProcessing="true"> 
                    <match url=".*" /> 
                        <conditions> 
                            <add input="{HTTP_HOST}" pattern="^csell.net.com$" /> 
                        </conditions> 
                    <action type="Redirect" url="http://www.csell.net.com/{R:0}" redirectType="Permanent" /> 
                </rule>
                <rule name="OldHtmlUrls" stopProcessing="true">
                    <match url="(.+)\.html.*$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>
                <rule name="OldHtmlWithTrailingSlashUrls" stopProcessing="true">
                    <match url="(.+)\.html/.*$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>

                <!-- add once I have the category and date selectors
                <rule name="OldYearMonthCategories" stopProcessing="true">
                    <match url="^(2[0-9]{3})/([0-1]{1}[1-9]{1})/{0,1}$" />
                    <action type="Redirect" url="/archives/" appendQueryString="false" />
                </rule>
                <rule name="OldYearCategories" stopProcessing="true">
                    <match url="^(2[0-9]{3})/{0,1}$" />
                    <action type="Redirect" url="/archives/" appendQueryString="false" />
                </rule>
                -->

                <rule name="CanonicalFeed" stopProcessing="true">
                    <match url="^(feed.xml)|(rss)|(rss.xml)|(atom.xml)|(feed/atom)|(feed/rss2)$" />
                    <action type="Redirect" url="/feed/" appendQueryString="false" />
                </rule>

                <!-- TODO get the correct feed url -->
                <rule name="OldFeedLinks" stopProcessing="true">
                    <match url="^(.+).html/(feed|trackback)$" />
                    <action type="Redirect" url="{R:1}/" appendQueryString="false" />
                </rule>

                <!-- 
                <rule name="OldAuthorLinks" stopProcessing="true">
                    <match url="^author" />
                    <action type="Redirect" url="/about/" appendQueryString="false" />
                </rule>
                <rule name="OldCategories" stopProcessing="true">
                    <match url="^category/([^/]+)/" />
                    <action type="Redirect" url="/tags/{R:1}/" appendQueryString="false" />
                </rule>
                -->

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
